[Unit]
Description=Cloudflare Tunnel client
Documentation=https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/

[Service]
Type=notify
TimeoutStartSec=15s
ExecStart=%h/.local/share/mise/shims/cloudflared --no-autoupdate --config %h/.cloudflared/config.yml tunnel run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
