{{- if and (eq .chezmoi.os "linux") (lookPath "systemctl") $.systemd.user.is_reload_after_apply -}}
#!/usr/bin/env sh

# ==================================================
# 重新加载用户级 systemd 单元配置
# ==================================================

# {{ includeTemplate "dot_config/systemd/user/ida-pro-mcp.service.tmpl" . | sha256sum }}
# {{ includeTemplate "dot_config/systemd/user/opencode-server.service.tmpl" . | sha256sum }}

set -eu

systemctl --user daemon-reload
{{- end }}
