{{- $ageRecipient := promptStringOnce . "age.recipient" "age: public key (recipient)" -}}
{{- $subStoreBackendPath := promptStringOnce . "sub_store.backend_path" "Sub-Store: SUB_STORE_FRONTEND_BACKEND_PATH" -}}
{{- $opencodeMcpContext7ApiKey := promptStringOnce . "opencode.mcp_context7_api_key" "OpenCode: CONTEXT7_API_KEY" -}}
{{- $opencodeMcpExaPoolBaseUrl := promptStringOnce . "opencode.mcp_exa_pool_base_url" "OpenCode: EXA_POOL_BASE_URL" -}}
{{- $opencodeMcpExaPoolApiKey := promptStringOnce . "opencode.mcp_exa_pool_api_key" "OpenCode: EXA_POOL_API_KEY" -}}
{{- $opencodeMcpAceToolBaseUrl := promptStringOnce . "opencode.mcp_ace_tool_base_url" "OpenCode: ace-tool MCP base-url" -}}
{{- $opencodeMcpAceToolToken := promptStringOnce . "opencode.mcp_ace_tool_token" "OpenCode: ace-tool MCP token" -}}
{{- $opencodeMcpTavilyApiKey := promptStringOnce . "opencode.mcp_tavily_api_key" "OpenCode: tavilyApiKey" -}}
{{- $opencodeMcpChromeMcpUrl := promptStringOnce . "opencode.mcp_chrome_mcp_url" "OpenCode: chrome-mcp MCP url" -}}
{{- $opencodeServerUsername := promptStringOnce . "opencode.server.username" "OpenCode Headless Server: OPENCODE_SERVER_USERNAME" -}}
{{- $opencodeServerPassword := promptStringOnce . "opencode.server.password" "OpenCode Headless Server: OPENCODE_SERVER_PASSWORD" -}}


encryption = "age"

[age]
recipient = {{ $ageRecipient | quote }}
identity = "~/.config/chezmoi/key.txt"

[diff]
exclude = ["scripts"]

[data.sub_store]
backend_path = {{ $subStoreBackendPath | quote }}

[data.opencode]
mcp_context7_api_key = {{ $opencodeMcpContext7ApiKey | quote }}
mcp_exa_pool_base_url = {{ $opencodeMcpExaPoolBaseUrl | quote }}
mcp_exa_pool_api_key = {{ $opencodeMcpExaPoolApiKey | quote }}
mcp_ace_tool_base_url = {{ $opencodeMcpAceToolBaseUrl | quote }}
mcp_ace_tool_token = {{ $opencodeMcpAceToolToken | quote }}
mcp_tavily_api_key = {{ $opencodeMcpTavilyApiKey | quote }}
mcp_chrome_mcp_url = {{ $opencodeMcpChromeMcpUrl | quote }}

[data.opencode.server]
username = {{ $opencodeServerUsername | quote }}
password = {{ $opencodeServerPassword | quote }}
