{{- if .ntfy.is_hosting_server -}}
base-url: {{ printf "https://%s" .ntfy.public_hostname | quote }}
listen-http: {{ printf "127.0.0.1:%d" .ntfy.listen_port | quote }}
cache-file: {{ printf "%s/.local/state/ntfy/cache.db" .chezmoi.homeDir | quote }}
auth-file: {{ printf "%s/.local/state/ntfy/auth.db" .chezmoi.homeDir | quote }}
web-push-file: {{ printf "%s/.local/state/ntfy/web-push.db" .chezmoi.homeDir | quote }}
auth-default-access: deny-all
enable-signup: true
enable-login: true
require-login: true
behind-proxy: true
proxy-forwarded-header: "CF-Connecting-IP"
web-push-public-key: {{ .ntfy.web_push_public_key | quote }}
web-push-private-key: {{ .ntfy.web_push_private_key | quote }}
web-push-email-address: {{ .ntfy.web_push_email | quote }}
{{ end -}}
